body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
    background-color: #f4f4f4;
}

.error-container {
    text-align: center;
    color: red;
}

.error-container h1 {
    color:mediumvioletred;
    font-size: 2.2rem;
}

.error-container p {
    color: navy;
    font-size: 1.5rem;
}
