.navbar {
  background: linear-gradient(90deg, black, navy, purple, purple);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-title {
  font-size: 24px;
  font-weight: bold;
  cursor: default;
}

.links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  cursor: default;
}

.links a:hover {
  background-color:black;
  color: white; /* Ensures text remains white on hover */
  animation: bounce 0.3s;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
