body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2e2e2e; /* Darker background color */
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: rgb(27, 27, 230);
}

.container {
    width: 100%;
    max-width: 800px;
    padding: 30px 40px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: justify;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction: column; /* Ensure children are stacked vertically */
}

.loan-form {
    max-width: 600px;
    width: 100%; /* Ensure form takes full width of container */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.loan-form h3 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column; /* Stack label and input vertically */
}

.form-group label {
    display: block; /* Ensure label is a block element */
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%; /* Full width of the container */
    padding: 8px;
    box-sizing: border-box;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

.btn-primary {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #45a049;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.popup-content h2 {
    margin-bottom: 20px;
}

.popup-content button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.popup-content button:hover {
    background-color: #0056b3;
}
