<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a [routerLink]="['/']" class="navbar-brand">EDUINVESTOR</a> -->

  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <!-- <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a [routerLink]="['/home']" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/user/userviewloan']" class="nav-link">EduLoans</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/user/userappliedloan']" class="nav-link">Applied EduLoans</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="feedbackDropdown" role="button">
          Feedback
        </a>
        <div class="dropdown-menu" aria-labelledby="feedbackDropdown">
          <a [routerLink]="['/user/useraddfeedback']" class="dropdown-item">Add Feedback</a>
          <a [routerLink]="['/user/userviewfeedback']" class="dropdown-item">My Feedback</a>
        </div>
      </li>
      <li class="nav-item">
        <a (click)="logout()" class="nav-link">Logout</a>
      </li>
    </ul>
  </div>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h2 class="navbar-title">EduInvestor</h2>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a [routerLink]="['/home']" class="nav-link user-box" >Demouser/User</a>

      </li>
      <li class="nav-item">
        <a [routerLink]="['/home']" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/user/userviewloan']" class="nav-link">EduLoans</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/user/userappliedloan']" class="nav-link">Applied EduLoans</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="feedbackDropdown" role="button">
          Feedback
        </a>
        <div class="dropdown-menu" aria-labelledby="feedbackDropdown">
          <a [routerLink]="['/user/useraddfeedback']" class="dropdown-item">Add Feedback</a>
          <a [routerLink]="['/user/userviewfeedback']" class="dropdown-item">My Feedback</a>
        </div>
      </li>
      <li class="nav-item">
        <a (click)="logout()" class="nav-link">Logout</a>
      </li>
    </ul>
  </div>
</nav>
