<div class="view-feedback-container">
    <h1>Feedback Details</h1>
    <hr class="horizontal-bar">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>S.No</th>
                <th>User Name</th>
                <th>Feedback</th>
                <th>Posted Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let feed of feedbacks; index as i">
                <td>{{i+1}}</td>
                <td>{{feed.user.username}}</td>
                <td>{{feed.feedbackText}}</td>
                <td>{{feed.date}}</td>
                <td>
                    <button type="button" class="edit-button" (click)="showProfile(feed.user)">Show Profile</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="currentUser" class="modal">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">×</span>
        <h2>User Details</h2>
        <p>Email: {{currentUser.email}}</p>
        <p>Username: {{currentUser.username}}</p>
        <p>Mobile Number: {{currentUser.mobileNumber}}</p>
        <button (click)="closeModal()">Close</button>
    </div>
</div>
