.intro {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    margin: 80px auto;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: default;
    text-align: justify;
    text-overflow: ellipsis;
}                                                                                                                           

.intro h2 {
    margin-top: 0;
    cursor: default;
    text-align: center;
}
