<div class="container">
  <h2>Add Feedback</h2>
  <form #feedbackForm="ngForm" (ngSubmit)="submit()">
      <div class="form-group">
          <label for="feedbackText">Feedback <span style="color:red">*</span></label>
          <textarea id="feedbackText" name="FeedbackText" [(ngModel)]="feedback.feedbackText" required #feedbackText="ngModel"></textarea>
          <div class="error-message" *ngIf="feedbackText.invalid && (feedbackText.dirty || feedbackText.touched)">
              *Feedback is required
          </div>
      </div>
      <button type="submit">Submit</button>
  </form>

  <div *ngIf="showPopup" class="popup">
      <div class="popup-content">
          <h2>Added Successfully</h2>
          <button type="button" (click)="closePopup()">OK</button>
      </div>
  </div>
</div>
