.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  background: linear-gradient(90deg, black, navy, purple, purple); 
  padding: 10px 20px;
}

.navbar .navbar-brand {
  color: white;
  font-size: 1.25rem;
  text-decoration: none;
  margin-right: 1rem;
}

.navbar .navbar-brand:hover {
  color: #d4d4d4;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: #d4d4d4;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-link {
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin: 0 10px;
}

.navbar-nav .nav-link:hover {
  color: black;
}

.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; 
}

.dropdown-menu {
  background-color: #4f6fad;
  border: none;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: #2e2e2e; 
  color: #d4d4d4;
}

.user-box {
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center; 
}

.user-box:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.navbar-title {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
  cursor: default;
}

